{% extends "shared/_layout.html" %}
{%  block title %}About Osteotomy{% endblock %}

{% block page_content_middle%}
    <div class="hero">
    <h1>About Single Cut Rotational Osteotomy</h1>

    <ul>
    <li>Literature</li>
    <li>Sources</li>
    <li>Links</li>
    <li><a id="Datenschutzerklaerung">Data Privacy Statement</a></li>
    </ul>
    <br />

    <a id="Datenschutzerklaerung">Data Privacy Statement</a>
    <iframe src="../data_privacy_statement.html"></iframe>


    </div>
{%  endblock %}

