{% extends "shared/_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%  block title %}OP Planning{% endblock %}
{% block page_content_middle %}

    <div class="hero">
        <h1>Single Cut Rotational Osteotomy</h1>
        <p>
            <label>
                <input type="text" placeholder="Coronal Component C" class="form-control">
            </label>
        </p>
        <p>
            <label>
                <input type="text" placeholder="Sagittal Component S" class="form-control">
            </label>
        </p>
        <p>
            <label>
                <input type="text" placeholder="Torsion Component T" class="form-control">
            </label>
        </p>

        or <a href="#">browse projects</a>
    </div>

{% endblock %}