{% extends "shared/base.html" %}
{%  block title %}OP Planning{% endblock %}
{% block content %}

    <div class="hero">
        <h1>Single Cut Rotational Osteotomy</h1>

        <label>
            <input type="text" placeholder="Coronal Component C" class="for">
        </label>
        <label>
            <input type="text" placeholder="Sagittal Component S" class="form-control">
        </label>
        <label>
            <input type="text" placeholder="Torsion Component T" class="form-control">
        </label>

        or <a href="#">browse projects</a>
    </div>

{% endblock %}