{% extends "shared/_layout.html" %}
{%  block title %}Case{% endblock %}

{% block content %}
    <div class="hero">
    <h1>Case description</h1>

    <h2>We present a case of a corrective single cut osteotomy due to a complex multiplanar radius deformation in a Shetland pony foal</h2>


The author of a recently published study stated that a single cut osteotomy is always preferred against closing wedge solutions due to better bone contact and faster bone healing.[8]
The single cut osteotomy requires a complex 3-dimensional planning.[3, 8]
There is a mathematical analysis of single-cut osteotomy for complex long bone deformity [3]
This analysis [3] was the basis of our surgical planning.
    <h2>(Beschreibung der Fehlstellung?)</h2>
Text................................
    </div>

{% endblock %}