{% extends "bootstrap/base_0.html" %}

{% block title %}Osteotomy{% endblock %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='pumuckl_01.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='pumuckl_01.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/site.css" />
    <div class="container-fluid text-left top-container">
        <div class="row">
            <div class="col-md-1">            </div>
            <div class="col-md-3">
                <img src="{{ url_for('static', filename='img/Lebensfreude_logo_03_sw_118x154.png') }}" class="img-fluid" alt="Logo">
            </div>
            <div class="col-md-8 title">Osteotomy</div>
        </div>
    </div>
{% endblock %}

{% block navbar %}
    <div class="container-fluid text-left top-container">
        {{ nav.top.render() }}
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
